.htpasswds
.gitignore
_duplicator
wp-admin
wp-content/cache
wp-content/languages
wp-content/plugins
wp-content/themes/nordic/style.css
wp-content/themes/nordic-child/style.css
wp-content/themes/nordic-child02
wp-content/themes/twentyfifteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
wp-content/themes/flymag
wp-content/themes/flymag-child
wp-content/themes/amactive/stat
wp-content/gallery
wp-content/upgrade
wp-content/uploads
wp-includes
wp-snapshots