.htpasswds
170726_BO
tmp
_duplicator
tmp-pulled
wp-admin
wp-content/cache
wp-content/languages
wp-content/plugins
wp-content/themes/nordic/style.css
wp-content/themes/nordic-child/style.css
wp-content/themes/twentyfifteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
wp-content/upgrade
wp-content/uploads
wp-includes
wp-snapshots