/* _base.scss */

html,
body {
    background:$color_bg-body;
    font-family: $base-font-family;
}

body {
    font-size:$base-font-size;
    color:$base-font-color;
    border-color:$color_layout-border;
    text-align:center;

    .post-meta {
        display:none;
    }

     @media (min-width: $bp-md) {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1c684+0,ebe3be+100 */
        background: #d1c684; /* Old browsers */
        background: -moz-linear-gradient(top, #d1c684 0%, #ebe3be 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #d1c684 0%,#ebe3be 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #d1c684 0%,#ebe3be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1c684', endColorstr='#ebe3be',GradientType=0 ); /* IE6-9 */

        #wrap-all {

        }
     }

    #wrap-all {
        background:white;

        @media (min-width: $bp-md) {
            margin:0 auto;
            display:inline-block;
            width: $bp-md-1;

            .navbar {
                display: block;
            }

            #header {
                
            }

            #inner-content {
                display: block;
                width: 70%;
                background:$color_debug;
                float: left;
                
                > .container {
                    background:$color_debug3;
                    margin-left: 0;
                    display: block;
                    width: 100%;
                    padding: $offset-g2;
                    float: left;
                }
            }
            /* (END) .inner-content */
        }
        /* (END) media */
    }
}
/* [END] body */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.display-none {display:none}
.display-block {display:block;}
.display-inline-block {display:inline-block}

.display-table {display:table}
.display-table-row {display:table-row}
.display-table-cell {display:table-cell}

.debug-bs {    
    background:white url(./img/symmetric-grid-bootstrap.png) center center scroll;
    background-size: 100%;

    .debug-bs-col:nth-child(even) {
        background-color: rgba(255, 138, 138, 0.5); 
    }
    .debug-bs-col:nth-child(even) {
        background-color: rgba(0, 191, 38, 0.5);
    }
}

hr {
    display:block;
    width:100%;
    border-top:1px solid $color_layout-border;
}
