/* _breadcrumbs.scss */

.row.row-breadcrumb {
    .col-post-breadcrumb {
        margin-bottom:0;
        padding:$offset-g1 $offset-g2;
        background:$color_secondary;

        @media (max-width:$bp-xs-1){
            padding:5px $offset-g1;
            // margin-bottom:$offset-g1;
        }

        .crumbs-wrap {
            ul {
                li {
                    &.li-category-2 a {
                        @media (max-width:$bp-xs-1){
                            span {
                                display:none;
                            }
                            &:before {
                                content:'For Sale';
                            }
                        }
                    }

                    &.li-category-38 a {
                        @media (max-width:$bp-xs-1){
                            span {
                                display:none;
                            }
                            &:before {
                                content:'Sold';
                            }
                        }
                    }

                    &.li-jump-menu-wrap {
                        select {
                            max-width:130px;
                        }
                    }
                }
            }
        }
        /* (END) .crumbs-wrap */        
    }
    /* (END) .col-post-breadcrumb */
}