/* _pagination.scss */

.col-pagination {
    @media ( max-width:$bp-xs-1) {
        margin-top:$offset-g1;
    }
    margin-bottom:$offset-g2;

    .pagination-wrap {

        ul.ul-pagination {
            text-align:center;

            li {
                display:inline-block;                
                margin:0;
                padding:0;

                a {
                    @include btn-disc( 'pagination-link' );                    
                }

                span {
                    @include btn-disc( 'pagination-active' );                    
                }
            }
        }
        /* (END) .ul-pagination */

    }
    /* (END) .pagination-wrap */
}
