/* _typography.scss */

body.amactive {
    h1, h2, h3, h4, h5, h6 {
        color:black;
        // font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-family: "Century Gothic", "Apple Gothic", sans-serif;
        font-weight: normal;
    }

    p {
        font-size:$base-font-size;
        color:$base-font-color;
        line-height:$base-font-line-height;
    }

    h1 {
        font-size: 48px;
        line-height: 60px;
        // font-weight: 700;
        // font-family: "Century Gothic", "Apple Gothic", sans-serif;
        // margin: 0;
        // // font-weight: normal;
        // font-size: 2.0em;
        // line-height: 1.4em;
        color: #EF1022;
    }

    h2 {
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
    }

    h3, .h3 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
    }

    h4, .h4 {
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
        text-transform:uppercase;
    }

    h5, .h5 {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;        
        a {
            color:black;
        }
    }

    h6 {
        // background: black;
        // color: white !important;
        padding: 0 5px;
        // display: inline-block;
        font-weight: bold;
    }

    b, strong, .strong {
        font-weight: bold;
        color:black;
    }

    .line-through {
        text-decoration: line-through;
    }

    .text-align-center {
        text-align:center;
    }

    .fmt-uppercase {
        text-transform: uppercase;
    }

    .fmt-trim-string {
        @include trim-string();
    }
    .snippet:after,.snippetWrap p:after {
        content:'...';
    }

    ul:not(.menu):not(.ul-footer):not(.ul-header):not(.navbar-nav):not(.ab-top-menu):not(.social_menu):not(.ul-pagination) {
        list-style:none;
        margin:0;
        padding:0;

        li {
            // display:block;
            // padding:5px 0;
            line-height:$base-font-line-height;

            &:before {
                @include content-fa();
                content:"\f105" !important;
                width:$offset-g1 !important;
                margin:0;
                color:$color-accent2;
            }
        }

        
    }
}


//REF: https://codepen.io/Deadlymuffin/pen/hGiqo/
ul.social_menu {
    margin:0;
    padding: 0;    
    list-style: none;
    display:inline-block;
    
    li {
        // vertical-align: middle;
        float: left;
        display: block;
        width: $offset-g2;
        height: $offset-g2;

        a {           
            @include btn-animation();                 
            @extend .hide-text;
            color: #000;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: block;
            position:relative;            

            &:before {                                
                @include content-fa();
                color: inherit;
                content: "\f09a";
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -8px 0 0 -8px;
            }

            &:hover {
                &:before {
                    color:white !important;
                }
            }
        }

        &.facebook a {
            &:hover {
                background:$color_facebook;//#3d5b99;                
            }            
            &:before {
                content: "\f09a";/*f230*/
            }
        }
        &.twitter a {
            &:hover {
                background:$color_twitter;//#00aced;
            }            
            &:before {
                content: "\f099";
            }
        }
        &.youtube a {
            &:hover {
                background:$color_youtube;//#e64a41;
            }
            &:before {
                content: "\f16a";
            }            
        }
        
    }

}
/* (END) ul */

.hide-text {
    color: transparent;
    font-size:0px !important;
}