.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.navbar {
  padding:0;
}

.navbar > .container {
  background:white;
}

@media (min-width:992px) {
    #bs-amactive-navbar-collapse {
        display:none !important;
    }
}

.row.post-img-row {
  background:#A4D1F8;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:30px;
}

.post-img-featured img {
  width:100%;
}

.post-img-grid > div.row {
  list-style:none;
  margin:0;
  padding:0;
}
.post-img-grid > div.row > div {
  /*float:left;
  display:block;
  width:20%;
  margin:0 5% 5% 0;  */
  margin:0;
  padding:0 10px 10px 0;
}
.post-img-grid > div > div a img {
  width:100%;
  height:auto;
  border:1px solid white;
}

.padding-right-0 {
  padding-right:0px;
}