.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.navbar {
  padding:0;
}

.navbar > .container {
  background:white;
}

@media (min-width:992px) {
    #bs-amactive-navbar-collapse {
        display:none !important;
    }
}


.bg-blue-dark {
  background: #263762;
}

.bg-blue,
.row.post-img-row {
  background:#A4D1F8;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:30px;
}

.post-img-featured img {
  width:100%;
}

.post-img-grid > div.row {
  list-style:none;
  margin:0;
  padding:0;
}
.post-img-grid > div.row > div {
  /*float:left;
  display:block;
  width:20%;
  margin:0 5% 5% 0;  */
  margin:0;
  padding:0 10px 10px 0;
}
.post-img-grid > div > div a img {
  width:100%;
  height:auto;
  border:1px solid white;
}

.padding-right-0 {
  padding-right:0px;
}

.portfolio-item {

}

.portfolio-item .card {

}

.portfolio-item .card .card-body {
  background:#263762;
  color:white;
  padding:15px;
}

.portfolio-item .card .card-body .card-title {
  margin:0 0 15px 0;
}

.portfolio-item .card .card-body .card-title a {
  color:white;
}

.portfolio-item .card .card-body .post-categories {
  /*display:none;*/
}

/* menu */
.padding-x-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.negative-margin-x,
.menu-primary-menu-containerXXX {
  margin-left: -15px;
  margin-right: -15px;
}

ul.menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #263762;
}

ul.menu li {
    width: 100%;
    padding: 0;
}

ul.menu li a {
    color:white;
        padding: 0 15px;
    line-height: 30px;
    display: block;
    width: 100%;
}

ul.menu li.current-menu-parent {
  background:#A4D1F8;
}

/* nav menu */
.menu-item-home {

}

/* flex-slider */
.flexslider .flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(255,255,255,.5);
    cursor: pointer;
    text-indent: 0px;
    color:transparent;
    font-size:0px;
    -o-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    border-radius: 20px;
}

.flexslider .flex-control-paging li a.flex-active {
    background: #fff;
    cursor: default;
}

/* search */
.widget.widget_search {
  padding:15px;
}

.widget.widget_search .screen-reader-text {
  display:none;
}

.widget.widget_search input[type="text"] {
  width:140px;
}
.widget.widget_search input[type="text"],
.widget.widget_search input[type="submit"] {
  background: #263762;
  border:1px solid white;
  color:white;
}

/* list item */
.post-preview-img.list-item {
  margin:15px 0;
}

.post-preview-img.list-item img {
  width:100%;
  height:auto;
}