/* _content-grid-item.scss */

.portfolio-wrap {
    padding:$offset-g1;
    background:$color_secondary;
    padding-top:$offset-g2;

    .portfolio-item {
        margin-bottom:$offset-g2;
    }
}

.row.post-img-row {
  padding:$offset-g2;
  background:$color_secondary;
}

.portfolio-item .card .card-body .post-categories {
  /*display:none;*/
}

.portfolio-item {
    margin-bottom:$offset-g1;

    @media (max-width:$bp-sm-1) and (min-width:$bp-xs){
        width:50%;
    }

    .card {
        .card-img-top {
            &.wp-post-image {
                width:100%;
                height:auto;
                // max-height:200px;
            }
        }
        /* (END) .card-img-top */

        .card-body {
            position:relative;
            padding:$offset-g1;
            padding-bottom:$offset-g2;
            background:$color-accent;
            color:white;

            .card-title {
                margin:0;

                a {
                    color:white;
                }
            }

            p {
                margin:0;
                color:white;

                .sold {
                    color:red;
                }
            }

            .category {
                position:absolute;
                padding:$offset-1 $offset-g1;
                margin:0;
                bottom:0;
                left:0;
            }
        }
        /* (END) .card-body */   

        @media (max-width:$bp-xs-1) {
            display:block;
            flex:unset;

            .card-img-top {
                &.wp-post-image {
                    width:33.33333333%;
                    float:left;
                    flex:unset;
                }
            }
            /* (END) .card-img-top */

            .card-body {
                width:66.66666666%;
                position:static;
                padding:0 $offset-g1;
                flex:unset;
                float:left;

                .category {
                    position:static;
                    padding:0;
                }
            }
            /* (END) .card-body */
        }
    }

    &.bg-white {
        .card {
            border:0px;

            .card-body {
                @media (min-width:$bp-xs){
                    padding-left:0;
                    padding-right:0;
                }
                background:white;
                color:$color-accent;

                .card-title {
                    a {
                        color:black;
                    }
                }

                p {
                    color:#666;
                }

                .category {
                    padding-left:0;
                }
            }
            /* (END) .card-body */
        }
    }
    /* (END) .bg-white */
}


