/* _content-item-details.scss */

.fmt-price {
    color:#666;
}

.fmt-sold {
    color:red;
    font-weight:bold;
}

.row.row-post-img {
    padding:$offset-g1;
    padding-top:0;
    background:$color_secondary;

    @media (min-width:$bp-xs){
        padding:$offset-g2;
        padding-top:0;
    }

    .col-post-img {
        padding:0;

        img {
            width:100%;
        }

        &.featured {
            @media (min-width:$bp-md){
                padding-right:$offset-g1;
            }

            img {
                border:1px solid $color_secondary;     
            }
        }
    }
    /* (END) .col-post-img */

    .col-post-img-grid {
        padding:0;

        > div.row {
            list-style:none;
            margin:0;
            padding:0;

            > div {
                /*float:left;
                display:block;
                width:20%;
                margin:0 5% 5% 0;  */
                margin:0;
                padding:0;

                a {
                    display:block;
                    // margin:0 $offset-g1 $offset-g1 0;
                    // margin:1px;
                    border:1px solid $color_secondary;

                    // &:hover {
                    //     border-color:white;
                    // }

                    img {
                        width:100%;
                        height:auto;
                    }
                }
            }
        }
    }
    /* (END) .col-post-img-grid */
}

.col-post-text {
    padding:$offset-g2;

    @media(max-width:$bp-xs-1){
        padding:$offset-g2 $offset-g1;
    }

    .post-title {
        margin-top:0;
        margin-bottom:$offset-g1;
        color:$color_post-title;
    }

    h3 {
        margin-top:$offset-g1;
        margin-bottom:$offset-g1;

        .fmt-price {
            display:block;        
            // color:#000;
        }
    }
    

    .post-text-body {
        line-height:$offset-g2;

        .post-details-box {
            @media(min-width:$bp-sm) {
                max-width:40%;
                width:auto;
            }
            @media(max-width:$bp-sm-1) {
                max-width:100%;
                width:100%;
                padding:$offset-g1;
            }

            float:right;
            border:1px solid $table-color-border;
            margin:0 0 $offset-g2 $offset-g2;
            padding:$offset-g2;
            background:white;

            //price
            h3 {
                display:inline-block;
                margin:0;
            }

            .post-tags {
                display:block;
                width:100%;

                @media(max-width:$bp-sm-1) {
                    display:inline-block;
                    width:auto;
                    margin-left:$offset-g1;
                    border-left:1px solid $table-color-border;
                    padding-left:$offset-g1;
                }

                h4 {
                    display:inline-block;
                    margin-right:$offset-1;
                }
                ul {
                    display:inline-block;
                }
            }
            

            p {
                margin-bottom:0;
            }
        }
    }
}