/* _content-item-details.scss */

.col-post-breadcrumb {
    padding:0;

    .crumbs-wrap {
        padding:$offset-1 0 0 0;
        ul {

        }
    }
}


.fmt-price {
    color:#999;
}
.fmt-sold {
    color:red;
    font-weight:bold;
}

.row.row-post-img {
    padding:$offset-g1;
    background:$color_secondary;

    @media (min-width:$bp-xs){
        padding:$offset-g2;
        padding-bottom:$offset-g1;
    }

    .col-post-img {
        padding:0;

        img {
            width:100%;
        }

        &.featured {
            @media (min-width:$bp-md){
                padding-right:$offset-g1;
            }

            img {
                border:1px solid $color_secondary;     
            }
        }
    }


    .col-post-img-grid {
        padding:0;

        > div.row {
            list-style:none;
            margin:0;
            padding:0;

            > div {
                /*float:left;
                display:block;
                width:20%;
                margin:0 5% 5% 0;  */
                margin:0;
                padding:0;

                a {
                    display:block;
                    // margin:0 $offset-g1 $offset-g1 0;
                    // margin:1px;
                    border:1px solid $color_secondary;

                    // &:hover {
                    //     border-color:white;
                    // }

                    img {
                        width:100%;
                        height:auto;
                    }
                }
            }
        }
    }
}




