/* _content-grid-item.scss */

.row.post-img-row {
  padding:$offset-g2;
  background:$color_secondary;
}

.portfolio-item .card .card-body .post-categories {
  /*display:none;*/
}

.portfolio-item {
    .card {
        .card-img-top {
            &.wp-post-image {
                width:100%;
                height:auto;
                // max-height:200px;
            }
        }
        /* (END) .card-img-top */

        .card-body {
            position:relative;
            padding:$offset-g1;
            padding-bottom:$offset-g2;
            background:$color-accent;
            color:white;

            .card-title {
                margin:0;

                a {
                    color:white;
                }
            }

            p {
                margin:0;
                color:white;
            }

            .category {
                position:absolute;
                padding:$offset-1 $offset-g1;
                bottom:0;
                left:0;
            }

            .post-categories {
                
            }
        }
        /* (END) .card-body */
    }

    &.bg-white {
        .card {
            border:0px;

            .card-body {
                padding-left:0;
                padding-right:0;
                background:white;
                color:$color-accent;

                .card-title {
                    a {
                        color:black;
                    }
                }

                p {
                    color:#666;
                }

                .category {
                    padding-left:0;
                }
            }
            /* (END) .card-body */
        }
    }
    /* (END) .bg-white */
}


