/* _navbar.scss */

$bp-subnav-mobile: $bp-md-1;

.navbar {
  padding:0;

  .container {
    background:white;
    padding-top:$offset-g1;
    padding-bottom:$offset-g1;
    }

    @media (max-width:$bp-md-1) {

        .container {
    position:relative;
    }

  .navbar-toggler {
      position: absolute;
    top: 50px;
    right: 30px;

      .fa.fa-bars {
          color:$color-accent;
      }
  }
    }
}

.navbar-brand img {
    width:100%;
    height:auto;
}


@media (min-width:$bp-md) {
    #bs-amactive-navbar-collapse {
        display:none !important;
    }
}