/* _navbar.scss */

$bp-subnav-mobile: $bp-md-1;

.navbar {
  padding:0;
}

.navbar > .container {
  background:white;
}

@media (min-width:992px) {
    #bs-amactive-navbar-collapse {
        display:none !important;
    }
}