/* _navbar-left.scss */

ul.menu {
    width: 100%;
    list-style: none;
    background: $color-accent;
    margin:0;
    padding:0;

    li {
        width: 100%;

        // &.current-menu-parent,
        // &.current-category-ancestor,
        // &.current-menu-item {  
        //     background:$color_secondary;          
        //     // @include bg-gradient-x-accent();

        //     a {
        //         color:$color-accent;
        //     }
        // }

        a {
            color:white;
            padding: 0 $offset-g1;
            line-height: $offset-g2;
            display: block;
            width: 100%;
            text-align:right;

            &:hover {
                @include btn-darken-bg-on-hover();
            }
        }
    }
}

body ul.menu li.current-menu-item,
body.classic-cars-for-sale ul.menu li.classic-cars-for-sale,
body.classic-cars-sold ul.menu li.classic-cars-sold {
    background:$color_secondary;          
    // @include bg-gradient-x-accent();

    a {
        color:$color-accent;
    }
}

/* nav menu */
body.home .menu-item-home {
    // display:none;
}