/* _navbar-left.scss */

.nav-primary-wrap {
    background: $navbar_color-bg;
}

ul.menu {
    width: 100%;
    list-style: none;
    margin:0;
    padding:0;

    li {
        width: 100%;

        a {
            color:$navbar_color-link;
            padding: 0 $offset-g1;
            line-height: $offset-g2;
            display: block;
            width: 100%;
            text-align:right;

            &:hover {
                color: $navbar_color-link-hover;
                @include btn-darken-bg-on-hover();
            }
        }
    }
}

body ul.menu li.current-menu-item,
body.classic-cars-for-sale ul.menu li.classic-cars-for-sale,
body.classic-cars-sold ul.menu li.classic-cars-sold {
    background: $navbar_color-bg-active;          

    a {
        color: $navbar_color-link-active;
    }
}

/* nav menu */
body.home .menu .menu-item-home {
    @media (max-width:$bp-lg-1){
        // display:none;
    }
    // display:none;
}

.widget.widget_search {
    padding:$offset-g1;
    text-align: right;

    .screen-reader-text {
        display:none;
    }

    input[type="text"],
    input[type="submit"] {
        background: $navbar_color-bg;
        border:1px solid $navbar_color-link;
        color: $navbar_color-link;

        &:hover {
            color: $navbar_color-link-hover;
            border-color: $navbar_color-link-hover;
        }
    }

    input[type="text"] {
        width:120px;
        padding-left:$offset-1;
        border-right:0px;
    }

    input[type="submit"] {
        float:right;
    }

    &:hover {
        input[type="text"],
        input[type="submit"] {
            @include btn-darken-bg-on-hover();
            color: $navbar_color-link-hover;
            border-color: $navbar_color-link-hover;
        }
    }
}