/* _navbar-left.scss */

ul.menu {
    width: 100%;
    list-style: none;
    background: $color-accent;
    margin:0;
    padding:0;

    li {
        width: 100%;

        &.current-menu-item,
        &.current-category-ancestor,
        &.current-menu-parent {  
            background:$color_secondary;          
            // @include bg-gradient-x-accent();

            a {
                color:$color-accent;
            }
        }

        a {
            color:white;
            padding: 0 $offset-g1;
            line-height: $offset-g2;
            display: block;
            width: 100%;
            text-align:right;
        }
    }
}

/* nav menu */
body.home .menu-item-home {
    // display:none;
}