/* _navbar.scss */

.navbar {
    padding: $offset-g1 $offset-g2;
    float:left;
    width:100%;

    @media (max-width:$bp-md-1) {
        display:none;
    }

    .site-title {
        float:left;
        display:block;
        width:40%;
        max-width:100%;
        background:yellow;
        padding-right:$offset-g2;
    }

    .site-title-detail {
        float:left;
        display:block;
        width:60%;
        background:pink;

        ul {
            list-style:none;
            li {
                display:inline;
            }
        }
    }
}