/* _restore-in-future.scss */

.flexslider {
    border:0px !important;
    border-radius:0 !important;
}


.vc_grid-item-mini {
    /*padding:8px;*/
}
.vc_grid-item-mini {
    background:red;
}
.vc_grid-item-mini:hover {
    background:white;
}
.vc_gitem_row .vc_gitem-col {
    padding: 0px !important;
}
.vc_grid.vc_row .vc_grid-item .vc_btn,
.vc_grid.vc_row .vc_grid-item .vc_icon_element,
.vc_grid.vc_row .vc_grid-item .wpb_content_element {
    margin-bottom: 0px !important;
}
.vc_gitem-zone-a .vc_gitem-row-position-bottom,
.vc_gitem-zone-b .vc_gitem-row-position-bottom {
    background:blue;
    color:white;
}

/* carousel */

/*h4 {
    margin: 20px 10px 10px;
}*/
/*p {
    margin: 10px;
}*/

#carousel-example-generic {
    margin: 20px auto;
    width: 400px;
}

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}

a.new-window {
    .icon-link-ext {
        margin-left:5px;
    }
}