/* _left-box.scss */

#wrap-all {
    .leftBoxes-wrap {
        padding:$offset-g2;

        .leftBox {
            margin: 0 0 $offset-g2 0;
            &:last-child {
                margin-bottom:0;
            }
        }
    }
    
    .leftBox {
        display: block;
        margin: $offset-g2 0;
        width: 100%;
        padding: $offset-g1;
        text-align: left;
        background: #fff;
        border: 1px solid #ccc;

        @media (max-width:$bp-md-1) {
            display:none;
        }

        h1 {
            margin:0 0 $offset-g1 0;
            font-size:$base-font-size;
            line-height: $base-font-line-height;
            font-weight:bold;
        }

        ul {
            list-style: inside;
        }
    }
}
